/* d90429 red */
/* 044fd9 blue*/
/* d9c704 yel */
.App {
  text-align: center;
}

.App-logo {
  height: 0.7em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #d9c704;
  color: #044fd9;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 5vh;
}
.App-header h1{
  margin: 0.25em auto;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
